
.section1{

  height: 100vh;
  position: relative;
/*   background-color: aqua;
 */  
}


.navbarsection{
  height: 35vh;
  background-color: azure;
}

.bottomsection{
  height: 65vh;
  background-color: blue;
}

.navbar{

  /* background-color: red; */
  padding: 8px 30px;

  font-size: 15px;
  font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
  
  /* letter-spacing: .08em; */
  
}


#imgcardradius{

border-radius: 25px;
}

* {
  cursor: pointer;
}

.li.nav-item{
  color: white;
}

a.headerstyle.nav-link {
  color: black;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
  position: fixed;
  width: 100%;
  /* background-color: white; */
  z-index: 99;
  /* height:65px; */
  color: black;
}
/* #navbar{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.navbar-light .navbar-nav .nav-link {

  color: black;
}

.headertext{


  font-size: 15px;
  font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
  letter-spacing: .27em;


}