
.section1{

  height: 100vh;
  position: relative;
  overflow-x: hidden;
/*   background-color: aqua;
 */  
}


.navbarsection{
  height: 35vh;
  background-color: azure;
}

.bottomsection{
  height: 65vh;
  background-color: blue;
}

.navbar{

  /* background-color: red; */
  padding: 8px 30px;

  font-size: 15px;
  font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
  
  /* letter-spacing: .08em; */
  
}


#imgcardradius{

border-radius: 25px;
}

* {
  cursor: pointer;
}

.li.nav-item{
  color: white;
}

a.headerstyle.nav-link {
  color: black;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
  position: fixed;
  width: 100%;
  /* background-color: white; */
  z-index: 99;
  /* height:65px; */
  color: black;
}
/* #navbar{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.navbar-light .navbar-nav .nav-link {

  color: black;
}

.headertext{


  font-size: 15px;
  font-family: "Gotham-Medium","Helvetica Neue","sans-serif";
  letter-spacing: .27em;


}


li.nav-item {
  /* background: red; */
  padding: 8px 28px;
  color: #000000;
}
.col-2.socialmediaicons{
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;


}
.imagecontentinside {
    height: 66px;
    border-radius: 50%;
    width: 66px;
    /* border-radius: 100vh; */
    background: green;
    flex-direction: column;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.socialmediaimage {
    height: 3.5vh;
    width: auto;
    /* border-radius: 50%; */
}
.imagecontent {
  height: 10vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
    /* height: 6vh;
    border-radius: 50%;
      flex-direction: column;

    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center; */
  
}
div#socialmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
}

.col-md-3 {
    background: blueviolet;
}

.app1.col {
    height: 14ch;
    border-radius: 5px;
    background: black;
}

.app2.col {
    height: 14ch;
    border-radius: 5px;
    background: black;
}
/* 
.appdwnload.col-5{
    height: 40vh;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
} */
.appdwnloaditem {
    width: 22%;
    height: 28%;
    /* padding: 5px; */
    background-color: brown;
    margin: 20px;
    border-radius: 12px;
}

.contenttext {
    width: 80%;
    height: 80%;
    /* padding: 5px; */
    background-color: brown;
    margin: 20px;
    border-radius: 12px;
}
.contentinside{
  flex: 1;
}

.appdwnloaditeminside{
  flex: 1;
}

.empty{
  padding: 15px;
}

 .textcontentinside {
    font-size: 6vw;
    height: 11vh;
    font-weight: bolder;
}




.AppDownload {
    height: 11vh;
    width: 18vw;
    border-radius: 10px;
    background: #080808;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppDownloadcontent{

  height: 13vh;
  width: 20vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentparagraph{


  height: 30vh;
  background-color: red;
  display: flex;
  flex-direction: row;

}


.imagecontenttitem {
  height: 10vh;
  position: absolute;
  left: 10px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
    /* height: 6vh;
    border-radius: 50%;
      flex-direction: column;

    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center; */
  
}

.col-1.imageapp {
    height: 11vh;
    width: 12vw;
    background: black;
    /* justify-content: center; */
    display: flex;
    align-items: center;
}